<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Calendar</display-name>
  <welcome-file-list>
    <welcome-file>calendar.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addEventServlet</display-name>
    <servlet-name>addEventServlet</servlet-name>
    <servlet-class>servlet.addEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addEventServlet</servlet-name>
    <url-pattern>/addEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listEventServlet</display-name>
    <servlet-name>listEventServlet</servlet-name>
    <servlet-class>servlet.listEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listEventServlet</servlet-name>
    <url-pattern>/listEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listInvitationServlet</display-name>
    <servlet-name>listInvitationServlet</servlet-name>
    <servlet-class>servlet.listInvitationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listInvitationServlet</servlet-name>
    <url-pattern>/listInvitationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowEventDetails</display-name>
    <servlet-name>ShowEventDetails</servlet-name>
    <servlet-class>servlet.ShowEventDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEventDetails</servlet-name>
    <url-pattern>/ShowEventDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEventServlet</display-name>
    <servlet-name>DeleteEventServlet</servlet-name>
    <servlet-class>servlet.DeleteEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEventServlet</servlet-name>
    <url-pattern>/DeleteEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditEventServlet</display-name>
    <servlet-name>EditEventServlet</servlet-name>
    <servlet-class>servlet.EditEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEventServlet</servlet-name>
    <url-pattern>/EditEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAccountServlet</display-name>
    <servlet-name>EditAccountServlet</servlet-name>
    <servlet-class>servlet.EditAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAccountServlet</servlet-name>
    <url-pattern>/EditAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventDetails</display-name>
    <servlet-name>EventDetails</servlet-name>
    <servlet-class>servlet.EventDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventDetails</servlet-name>
    <url-pattern>/EventDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendEmails</display-name>
    <servlet-name>SendEmails</servlet-name>
    <servlet-class>servlet.SendEmails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendEmails</servlet-name>
    <url-pattern>/SendEmails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchFriends</display-name>
    <servlet-name>searchFriends</servlet-name>
    <servlet-class>servlet.searchFriends</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchFriends</servlet-name>
    <url-pattern>/searchFriends</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addFriend</display-name>
    <servlet-name>addFriend</servlet-name>
    <servlet-class>servlet.addFriend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addFriend</servlet-name>
    <url-pattern>/addFriend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListFriends</display-name>
    <servlet-name>ListFriends</servlet-name>
    <servlet-class>servlet.ListFriends</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFriends</servlet-name>
    <url-pattern>/ListFriends</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFriends</display-name>
    <servlet-name>DeleteFriends</servlet-name>
    <servlet-class>servlet.DeleteFriends</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFriends</servlet-name>
    <url-pattern>/DeleteFriends</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>friendRequests</display-name>
    <servlet-name>friendRequests</servlet-name>
    <servlet-class>servlet.friendRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>friendRequests</servlet-name>
    <url-pattern>/friendRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptRequest</display-name>
    <servlet-name>AcceptRequest</servlet-name>
    <servlet-class>servlet.AcceptRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptRequest</servlet-name>
    <url-pattern>/AcceptRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateInvitationServlet</display-name>
    <servlet-name>UpdateInvitationServlet</servlet-name>
    <servlet-class>servlet.UpdateInvitationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInvitationServlet</servlet-name>
    <url-pattern>/UpdateInvitationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadVideo</display-name>
    <servlet-name>UploadVideo</servlet-name>
    <servlet-class>servlet.UploadVideo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadVideo</servlet-name>
    <url-pattern>/UploadVideo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListVideoServlet</display-name>
    <servlet-name>ListVideoServlet</servlet-name>
    <servlet-class>servlet.ListVideoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListVideoServlet</servlet-name>
    <url-pattern>/ListVideoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewVideoServlet</display-name>
    <servlet-name>ViewVideoServlet</servlet-name>
    <servlet-class>servlet.ViewVideoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewVideoServlet</servlet-name>
    <url-pattern>/ViewVideoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListPhotoServlet</display-name>
    <servlet-name>ListPhotoServlet</servlet-name>
    <servlet-class>servlet.ListPhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListPhotoServlet</servlet-name>
    <url-pattern>/ListPhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadPhotoServlet</display-name>
    <servlet-name>UploadPhotoServlet</servlet-name>
    <servlet-class>servlet.UploadPhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadPhotoServlet</servlet-name>
    <url-pattern>/UploadPhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPhotoServlet</display-name>
    <servlet-name>ViewPhotoServlet</servlet-name>
    <servlet-class>servlet.ViewPhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPhotoServlet</servlet-name>
    <url-pattern>/ViewPhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePhotoServlet</display-name>
    <servlet-name>DeletePhotoServlet</servlet-name>
    <servlet-class>servlet.DeletePhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePhotoServlet</servlet-name>
    <url-pattern>/DeletePhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>servlet.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransVideoServlet</display-name>
    <servlet-name>TransVideoServlet</servlet-name>
    <servlet-class>servlet.TransVideoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransVideoServlet</servlet-name>
    <url-pattern>/TransVideoServlet</url-pattern>
  </servlet-mapping>
</web-app>